#root {
  margin: 0 auto;
  /* text-align: center; */
  width: 100vw;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.image-container {
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  max-width: 100%;
  overflow: hidden;
}

.responsive-image {
  max-width: 70%; /* Make the image responsive by limiting its maximum width */
  height: auto; /* Maintain the image's aspect ratio */
  display: block; /* Remove any extra spacing around the image */
}

.chemsafe-container {
  display: flex; /* Use flexbox for centering */
  justify-content: left; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  max-width: 100%;
  overflow: hidden;
}

.chemsafe-image {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%; /* Make the image responsive by limiting its maximum width */
  height: auto; /* Maintain the image's aspect ratio */
  display: block; /* Remove any extra spacing around the image */
}

.sphere-container {
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  max-width: 100%;
  overflow: hidden;
}
.sphere-image {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 30%; /* Make the image responsive by limiting its maximum width */
  height: auto; /* Maintain the image's aspect ratio */
  display: block; /* Remove any extra spacing around the image */
}


.chemsafe-text {
  font-size: 30px; /* Adjust the font size as needed */
  color: black; /* Set the text color to black */
}
.chemsafe-text2 {
  font-size: 18px; /* Adjust the font size as needed */
  color: black; /* Set the text color to black */
  padding-top: 20px;
  padding-bottom: 20px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  /* Set default styles for larger screens */
  flex-direction: row;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    /* Add styles specific to smaller screens */
  }
  
}

.text-container {
  width: 30%;
  
 
}

.text-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  transform: translateX(100%);
  transition: transform 1s ease-in-out, opacity 1s ease-in;
  opacity: 0;
}
@media (min-width: 1200px) {
  #text-container {
    width: 30%;
    
  }
  #image-container {
    width: 80%;
  }
  #heading{
    font-size: 56px;
  }
  #reg-text{
    font-size: 28px;
    margin-left: 2.5% ;
  }
  #reg-text2{
    font-size: 28px;
    margin-left: 4% ;

  }
  #absatz{
    padding-left: 50px;
  }
  #resume-text{
    font-size: 18px;
  }
  #resume-text2{
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  #text-container {
    width: 80%;
  }
  #image-container {
    width: 80%;
  }
  #heading{
    font-size: 40px;
    margin-top: 40px;
  }
  #reg-text{
    font-size: 24px;
    margin-left: 2.5% ;
  }
  #reg-text2{
    font-size: 14px;
    margin-left: 4% ;

  }
  #absatz{
    padding-left: 10px;
  }
  
  #resume-text2{
    font-size: 9px;
  }
}